<ion-view view-title="Ciudades">
  <ion-content>
    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="City" ng-model="search.term">
        </label>
        <button class="button button-small" ng-click="search()">
          Search
        </button>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="city in cities" href="#/app/cities/{{city.title}}">
        {{city.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
