<ion-view>
  <ion-nav-title>
    {{city.name}}
  </ion-nav-title>
  <ion-content>
    <h4>{{city.weather.description}}</h4>
    <h4>Temp: {{city.main.temp - 273.15 | number:1}}ºC</h4>
    <h4>Humedad: {{city.main.humidity}}%</h4>
    <h4>Viento: {{city.wind.speed}}m/s</h4>
  </ion-content>
</ion-view>
